@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ClientDependency.Core.Mvc;
@{
    Layout = "MasterView.cshtml";
	
	@* you do this for speed>
    Html.RequiresCss("~/Css/layout.css");
	Html.RequiresCss("~/Css/" + @Umbraco.Field("sectionStyle", recursive: true)); 
    *@
}

@section Styles {

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
	@Html.RenderCssHere() 
	
	@* you do this so you can actually debug *@
	<link href="/css/layout.css" rel="stylesheet" type="text/css">
	<link href="/css/@Umbraco.Field("sectionStyle", recursive: true)" rel="stylesheet" type="text/css">
		
		
	@RenderSection("Styles", false) 
}

@section Metadata {

    <!-- eGov metadata : mandatory data -->
    <!-- this however is not valid html5 -->
    <meta name="DC.Subject" content="@Umbraco.Field("metaSubject")" />
    <meta name="DC.Date" content="@Umbraco.Field("updateDate", formatAsDate: true)" />
    <meta name="DC.Creator" content="@Umbraco.Field("metaCreator", recursive: true)" />
    <meta name="DC.Publisher" content="@Umbraco.Field("metaPublisher", recursive: true)" />
    <meta name="DC.Title" content="@Umbraco.Field("title")" />
    <!-- / eGov -->

    @RenderSection("MetaData", false)

    <meta name="robots" content="@Umbraco.Field("metaRobots", recursive: true)" />
}

<!-- header -->
<header>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">@Umbraco.Field("siteName", recursive:true)</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    @Umbraco.RenderMacro("SiteNavigation")
                </ul>
                <form class="navbar-form navbar-right" role="search" method="get" action="/search">
                    <div class="form-group">
                        <input type="text" class="form-control searchbox" placeholder="search" id="q" name="q" />
                    </div>
                    <button type="submit" class="btn btn-default">Search</button>
                </form>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            @if (IsSectionDefined("Breadcrumb"))
            {
                @RenderSection("Breadcrumb", false)
            }
            else
            {
                @* default behavior - render a breadcrumb on all pages *@
                @Umbraco.RenderMacro("SiteBreadcrumb")
            }
        </div>
    </div>
</div>

@RenderSection("PageHeader", false) 
			
@Umbraco.RenderMacro("ServiceAlert")

<div class="container">
    @RenderBody()
</div>



<!-- footer -->
<footer>
    <div class="container">
        @RenderSection("Footer", false)
        <div class="row">
            <div class="col-md-6">
                <ul class="list-unstyled">
                    <li><a href="/atoz/?letter=A">A-Z</a></li>
                    <li><a href="/sitemap/">Site map</a></li>
                    <li><a href="/contact-us/">Contact</a></li>
                    <li><a href="/accessiblity/">Accessibility</a></li>
                    <li><a href="/cookies/">Cookies</a></li>
                    <li><a href="/help/">Help</a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <div class="pull-right">
                    <div class="social-icons">

                        <a href="#"><i class="fa fa-twitter fa-3x"></i></a>
                        <a href="#"><i class="fa fa-facebook fa-3x"></i></a>
                        <a href="#"><i class="fa fa-google-plus fa-3x"></i></a>

                        <!-- 
                            #see http://fortawesome.github.io/Font-Awesome/icons/#brand 
                        <a href="#"><i class="fa fa-pinterest fa-3x"></i></a>
                        <a href="#"><i class="fa fa-flickr fa-3x"></i></a>
                        <a href="#"><i class="fa fa-youtube fa-3x"></i></a>
                        <a href="#"><i class="fa fa-linkedin fa-3x"></i></a>
                        <a href="#"><i class="fa fa-github fa-3x"></i></a>
                        -->

                        
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="pull-right">
                    <div class="site-credit">
                        LocalGov StarterKit (v7) 2014
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
	
@section Scripts
{
	@RenderSection("Scripts", false)
}